body {
  background: #0f0f23;
  font-family: 'Source Code Pro';
  color: #ccc;
}

a {
  color: green;
  text-decoration: none;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

h1 {
  font-size: 30px;
  font-weight: normal;
}

.container {
  max-width: 600px;
  margin: 300px auto 0 auto;
}

p {
  font-size: 18px;
}
